<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content ="This page is to find movies.">
  </head>
  <style>
    .container {
      display:flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items:flex-end;
    }

    body{
      background-image: url('movie_background.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }

    .dropdown {
      background-color: #df7e10;
      text-align: center;
      font-family: Arial;
      align-items:center;
    }

    .wrapper {
      padding: 0 1rem;
    }

    .movies {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
        grid-gap: 2rem;
    }

    .movies__card {
        text-decoration: none;
        color: #000;
        background-color: #fff;
        padding: 20px;
    }

    .movies__card:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
    }
    </style>
  <body>
    <div style="text-align:center">
    <div class="container">
      <a .tab button style="color:darkblue;" href="/">Home</a>
      <div>
        <a .tab button style="color:darkblue;" href="books">
          <img src="Books.png" alt="Books" width="80" height="80">
          <br>
          Books
        </a>
      </div>
      <div>
        <a .tab button style="color:darkblue;" href="movies">
          <img src="movie.png" alt="Movies" width="100">
          <br>Movies
        </a>
      </div>
      <div>
        <a .tab button style="color:darkblue;" href="music">
          <img src="music.png" alt="Music" width="60">
          <br>Music
        </a>
      </div>
      <a .tab button style="color:darkblue;" href="help">Help</a>
    </div>

    <center>
      <br>

    <br></br>
  </center>
  <div class="wrapper">
    <a href="movies"></a>
    <form>
      <input type="button" value="Back" onclick="history.back()">
    </form>
    <div class="movies">
      <% for(var i = 0; i < movies.length; i++){ %>
        <a class="movies__card" target="_blank" href="https://www.imdb.com/title/<%= movies[i].imdbID %>">
          <img style="float:left;" src="<%= movies[i].Poster %>" alt="<%= movies[i].Title %>">
          <p size="60px" style="font-family:Sans-serif">
            <b>
             <%= movies[i].Title %>
             <br/>
            Released: <%= movies[i].Year %>
            </b>
          </p>
          <br/>
          
        </a>
      <% } %>
    </div>
  </div>
</body>
</html>
